<nav class="header navbar navbar-fixed-top">
    <div class="navbar-header">
      <a href="{{ site.baseurl }}/" class="navbar-brand" >
        <img alt="Brand" style="height: 25px" src="{{ "/images/beam_logo_navbar.png" | prepend: site.baseurl }}">
      </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">入门指南 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/get-started/beam-overview/">Beam 概述</a></li>
            <li><a href="{{ site.baseurl }}/get-started/quickstart-java/">快速入门 - Java</a></li>
            <li><a href="{{ site.baseurl }}/get-started/quickstart-py/">快速入门 - Python</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">示例演练</li>
            <li><a href="{{ site.baseurl }}/get-started/wordcount-example/">WordCount</a></li>
            <li><a href="{{ site.baseurl }}/get-started/mobile-gaming-example/">Mobile Gaming</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Resources</li>
            <li><a href="{{ site.baseurl }}/get-started/downloads">下载</a></li>
            <li><a href="{{ site.baseurl }}/get-started/support">支持</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文档 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/documentation">使用文档</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Beam 概念</li>
            <li><a href="{{ site.baseurl }}/documentation/programming-guide/">编程指南</a></li>
            <li><a href="{{ site.baseurl }}/documentation/execution-model/">执行模式</a></li>
            <li><a href="{{ site.baseurl }}/documentation/resources/">其他资源</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Pipeline Fundamentals</li>
            <li><a href="{{ site.baseurl }}/documentation/pipelines/design-your-pipeline/">设计 Pipeline</a></li>
            <li><a href="{{ site.baseurl }}/documentation/pipelines/create-your-pipeline/">创建 Pipeline</a></li>
            <li><a href="{{ site.baseurl }}/documentation/pipelines/test-your-pipeline/">测试 Pipeline</a></li>
            <li><a href="{{ site.baseurl }}/documentation/io/io-toc/">Pipeline I/O</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">SDKs</li>
            <li><a href="{{ site.baseurl }}/documentation/sdks/java/">Java SDK</a></li>
            <li><a href="{{ site.baseurl }}/documentation/sdks/javadoc/{{ site.release_latest }}/" target="_blank">Java SDK API 参考 <img src="{{ site.baseurl }}/images/external-link-icon.png"
                                                                                                                                               width="14" height="14"
                                                                                                                                                          alt="External link."></a>
            </li>
            <li><a href="{{ site.baseurl }}/documentation/sdks/python/">Python SDK</a></li>
            <li><a href="{{ site.baseurl }}/documentation/sdks/pydoc/{{ site.release_latest }}/" target="_blank">Python SDK API 参考 <img src="{{ site.baseurl }}/images/external-link-icon.png"
                                                                                                                                               width="14" height="14"
                                                                                                                                                          alt="External link."></a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Runners</li>
            <li><a href="{{ site.baseurl }}/documentation/runners/capability-matrix/">兼容性矩阵</a></li>
            <li><a href="{{ site.baseurl }}/documentation/runners/direct/">Direct Runner</a></li>
            <li><a href="{{ site.baseurl }}/documentation/runners/apex/">Apache Apex Runner</a></li>
            <li><a href="{{ site.baseurl }}/documentation/runners/flink/">Apache Flink Runner</a></li>
            <li><a href="{{ site.baseurl }}/documentation/runners/gearpump/">Apache Gearpump Runner</a></li>
            <li><a href="{{ site.baseurl }}/documentation/runners/spark/">Apache Spark Runner</a></li>
            <li><a href="{{ site.baseurl }}/documentation/runners/dataflow/">Cloud Dataflow Runner</a></li>

            <li role="separator" class="divider"></li>
            <li class="dropdown-header">DSLs</li>
            <li><a href="{{ site.baseurl }}/documentation/dsls/sql/">SQL</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">贡献 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/contribute">Get Started Contributing</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Guides</li>
            <li><a href="{{ site.baseurl }}/contribute/contribution-guide/">Contribution Guide</a></li>
            <li><a href="{{ site.baseurl }}/contribute/testing/">Testing Guide</a></li>
            <li><a href="{{ site.baseurl }}/contribute/release-guide/">Release Guide</a></li>
            <li><a href="{{ site.baseurl }}/contribute/ptransform-style-guide/">PTransform Style Guide</a></li>
            <li><a href="{{ site.baseurl }}/contribute/runner-guide/">Runner Authoring Guide</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Technical References</li>
            <li><a href="{{ site.baseurl }}/contribute/design-principles/">Design Principles</a></li>
            <li><a href="{{ site.baseurl }}/contribute/work-in-progress/">Ongoing Projects</a></li>
            <li><a href="{{ site.baseurl }}/contribute/source-repository/">Source Repository</a></li>
            <li><a href="{{ site.baseurl }}/contribute/docker-images/">Docker Images</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Promotion</li>
            <li><a href="{{ site.baseurl }}/contribute/presentation-materials/">Presentation Materials</a></li>
            <li><a href="{{ site.baseurl }}/contribute/logos/">Logos and Design</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ site.baseurl }}/contribute/maturity-model/">Maturity Model</a></li>
            <li><a href="{{ site.baseurl }}/contribute/team/">Team</a></li>
          </ul>
        </li>

        <li><a href="{{ site.baseurl }}/blog">博客</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其它文档 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://cwiki.apachecn.org/pages/viewpage.action?pageId=10030122">TensorFlow R1.2 中文文档</a></li>
            <li><a href="http://cwiki.apachecn.org/pages/viewpage.action?pageId=10030181">sklearn 0.18 中文文档</a></li>
            <li><a href="http://spark.apachecn.org/docs/cn/2.2.0/">Spark 2.2.0 中文文档</a></li>
            <li><a href="http://cwiki.apachecn.org/pages/viewpage.action?pageId=2883613">Spark 2.0.2 中文文档</a></li>
            <li><a href="http://storm.apachecn.org/releases/cn/1.1.0/">Storm 1.1.0 中文文档</a></li>
            <li><a href="http://cwiki.apachecn.org/pages/viewpage.action?pageId=10813594">Kudu 1.4.0 中文文档</a></li>
            <li><a href="http://cwiki.apachecn.org/pages/viewpage.action?pageId=10030467">Zeppelin 0.7.2 中文文档</a></li>
            <li><a href="http://cwiki.apachecn.org/pages/viewpage.action?pageId=4260364">Elasticsearch 5.4 中文文档</a></li>
            <li><a href="http://cwiki.apachecn.org/pages/viewpage.action?pageId=8159377">Kibana 5.2 中文文档</a></li>
          </ul>
        </li>

        <li><a href="https://github.com/apachecn/beam-site-zh">GitHub</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="https://www.apache.org/foundation/press/kit/feather_small.png" alt="Apache Logo" style="height:20px;"><span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="http://www.apachecn.org/">ApacheCN 首页</a></li>
            <li><a href="http://www.apache.org/">ASF Homepage</a></li>
            <li><a href="http://www.apache.org/licenses/">License</a></li>
            <li><a href="http://www.apache.org/security/">Security</a></li>
            <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
            <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
            <li><a href="https://www.apache.org/foundation/policies/conduct">Code of Conduct</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>